header {
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: #2d3436;
  color: #f5f6fa;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #f5f6fa;
}

.logo a {
  font-size: 30px;
  font-weight: bold;
}

nav a {
  padding: 10px 30px;
  border: 3px solid #353b48;
  border-radius: 20px;
  background-color: #353b48;
  transition: 300ms ease;
  font-weight: 600;
}

nav a:hover {
  background-color: #1d2325;
  transition: 300ms ease;
}

nav a:not(:first-child) {
  margin-left: 30px;
}
